<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--3 Добавляю к переменной t1000 в конструктор нужные переменные других классов-->
	<bean id="t1000" class="ru.javabegin.training.spring.impls.robot.ModelT1000"
		  p:hand-ref="toshibaHand"
		  p:leg-ref="sonyLeg"
		  p:head-ref="toshibaHead">

<!--Добавляем к переменной t1000 переменные других классов с помощью setters
либо способом выше, но для этого нужно прописать xmlns:p, либо способом ниже-->

<!--< 	  property name="hand" ref="toshibaHand"/> 	-->
<!--< 	  property name="head" ref="toshibaHead"/> 	-->
<!--< 	  property name="leg" ref="toshibaLeg"/>   	-->

<!--Примитивные типы должны обозначаться как value, объекты классов должны обозначаться ref,
при этом типы String int boolean нужно удалить-->
		<constructor-arg value="silver" index="0" type="String" />
		<constructor-arg value="2005" index="1" type="int" />
		<constructor-arg value="true" index="2" type="boolean" />

	</bean>
	
<!--2 Добавляю к переменной t1000Empty в конструктор нужные переменные других классов-->
	<bean id="t1000Empty" class="ru.javabegin.training.spring.impls.robot.ModelT1000">
			
		<constructor-arg ref="sonyHand" />
		<constructor-arg ref="sonyLeg" />
		<constructor-arg ref="toshibaHead" />

	</bean>

	<bean id="t1000Empty3" class="ru.javabegin.training.spring.impls.robot.ModelT1000"
		  c:color="red" c:year="1995" c:soundEnabled="true"/>


<!--1 Создаю переменные для объектов классов-->
	<bean id="sonyHand" class="ru.javabegin.training.spring.impls.sony.SonyHand" />
	<bean id="sonyHead" class="ru.javabegin.training.spring.impls.sony.SonyHead" />
	<bean id="sonyLeg" class="ru.javabegin.training.spring.impls.sony.SonyLeg" />

	<bean id="toshibaHand" class="ru.javabegin.training.spring.impls.toshiba.ToshibaHand" />
	<bean id="toshibaHead" class="ru.javabegin.training.spring.impls.toshiba.ToshibaHead" />
	<bean id="toshibaLeg" class="ru.javabegin.training.spring.impls.toshiba.ToshibaLeg" />
</beans>
